body {
    background-color: slateblue;
}
.Heading {
    color:aquamarine;
    margin-left: 300px;
    border-right-width: 0px;
    margin-right: 300px;
    margin-top: 50px;
}
.Lab {
    color:coral;
    margin-left: 300px;
    border-right-width: 0px;
    margin-right: 300px;
}
.Paragraph {
    color:crimson;
    margin-left: 300px;
    border-right-width: 0px;
    margin-right: 300px;
}
.Kobi {
    margin-left: 300px;
    border-right-width: 0px;
    margin-right: 300px;
}



