<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")
    }}>
    <!-- For Bootstrap, add your CSS and JS links here -->
  </head>
  <body>
    <!-- Add your HTML content here... -->
    <img src="file:///Users/Ricky/cs235_lab_code/lab3/project1_html/static/img/kobi.jpg" alt="Kobi"width="100"height="100">
    <h1>Lab Report 1</h1>
    <h2>ryou398</h2>
    <h3>Start of lab</h3>
    <ol>
      <li>First step was to look for everything that I neeed to download and setup on my laptop. </li> 
      <li> I have chosen to use Visual Studio Code. </li> 
      <li> Things I downloaded and setup: Visual Studio Code, Miniconda, Python, Git (Have not learned to use yet) </li> 
      <li> Visual Studio Code was a simple download and install. </li> 
      <li> Miniconda was another download and install but it included another step of learning how to utilise it in Visual Studio. </li> 
      <li> Although Git was not required to be installed, I have installed it anyway. </li> 
    </ol>

    <h3>Learning/Learnt</h3>
    <p>A virtual environment is used for recreating the packages and versions of software that were used when the code was created/tested with. 
      I learned how to setup a virtual environment, install a package, and use the python debugger/breakpoints.</p>




    <a href="https://github.com/ryou398">Github Account</a>

  </body>
</html>
